{% include '_flexbox.css' %}
{% include '_changes.css' %}

html, body, .page {
    height: 100%;
}

.page .header {
    background-image: url('/{{ common_prefix.joinpath(banner) }}');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #111;
    height: 25vw;
    padding: 2rem 5vw;
    justify-content: start;
}

.page .header a {
    font-size: 300%;
    text-shadow: 0px 3px 3px #111;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 0;
    line-height: 1.0;
}

.page .menubar {
    padding: 0rem 5vw;
    background-color: #111;
    border-top: solid 1px #333;
}

.page .menubar a {
  float: left;
  display: block;
  padding: 1rem;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.page .menubar a:hover {
  background-color: #333;
}

.page .content {
    padding: 0 5vw;
    flex: 1;
}

.page .textcolumn {
    max-width: 35rem;
}

.page .body {
    flex: 2;
}

.page .body img {
  max-width: 100%;
}

.page .sidebar {
    padding: 0 0 0 2rem;
    flex: 1;
}

.page .footer {
    padding: 1rem 5vw;
    background-color: #111;
    color: white;
}

.page .footer * {
    margin: 0;
}

.scroll-x {
  overflow-x: auto;
  margin: -1.3rem 0;
}

.shadow {
  box-shadow: 0rem 0rem 0.25rem #444;
  border-radius: 0.25rem;
}

.small {
    font-size: 75%;
}

.nowrap {
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .page .header a {
      font-size: 400%;
      padding: 2rem 0;
  }
}


@media print {
    .page .header,
    .page .menubar,
    .page .footer,
    .page .sidebar {
        display: none;
        background: none;
    }

    div.no-break-section, p, ul, ol, table {
        page-break-inside: avoid;
    }
}
