{% include '_flexbox.css' %}
{% include '_changes.css' %}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    color: {{ foreground_color or '#444' }};
    background-color: {{ background_color or '#fdfaf1' }};
    margin: 0;
    max-width: 100%;
    font-family: Georgia, serif;
    font-size: 1rem;
    line-height: 1.5;
}

p {
  margin: 1.3rem 0;
  text-align: justify;
}

blockquote {
    font-style: italic;
    padding: 0.5rem;
    border-left: solid 2px {{ foreground_color or '#444' }};
    margin: -0.5rem 0 1.3rem 1.8rem;
    background-color: {{ background_color_darker or '#edeae1' }};
    border-radius: 0.25rem;
}

h1 {
  margin: 2rem 0 1.3rem 0;
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin: 2rem 0 1.3rem 0;
  font-size: 2.5rem;
  border-bottom: solid 2px {{ foreground_color or '#444' }};
}

h3 {
  margin: 2rem 0 1rem 0;
  font-size: 2.25rem;
}

h4 {
  margin: 1.3rem 0 1rem 0;
  font-size: 1.75rem;
}

h5, h6 {
  margin: 1.3rem 0 1rem 0;
  font-size: 1.25rem;
}

small {
  font-size: .75em;
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  background-color: {{ background_color_darker or '#edeae1' }};
  font-size: .8rem;
  overflow-x: scroll;
  padding: 1rem;
}

a,
a:visited {
  color: {{ link_color or '#3498db' }};
}

a:hover,
a:focus,
a:active {
  color: {{ link_color_hover or '#2980b9' }};
}

a.reference,
a.reference:visited {
  color: {{ foreground_color or '#444' }};
  text-decoration: underline;
  text-decoration-color: {{ foreground_color_lighter or '#dddad1' }};
  text-decoration-style: solid;
}

a.reference:hover,
a.reference:focus,
a.reference:active {
  text-decoration-color: {{ foreground_color or '#444' }};
}

table {
    margin: 1.3rem 0 1.3rem 2.0rem;
    padding: 0;
    border-spacing: 0;
    min-width: 50%;
}

table td, table th {
    padding: 0.1rem 0.5rem;
}

table thead tr {
    border: none;
    padding: 0;
    margin: 0;
    background-color: {{ foreground_color or '#444' }};
    color: {{ background_color or 'white' }};
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: {{ background_color_darker or '#edeae1' }};
}

p > ul,
p > ol,
div > ul,
div > ol {
  margin: 1.3rem 0;
}

li > p, blockquote > p {
    margin: 0;
    padding: 0;
}

ul, ol {
  padding-left: 2.5rem;
  position: relative;
}

.page .body ul {
  list-style: none;
}

.page .body li {
  margin: 0.5rem 0;
}

.page .body ul li:before
{
    content: '\2756';
    position: absolute;
    padding-left: 1.1rem;
    left: 0;
}

.page .body ul li ul li:before
{
    content: '\27a2';
}

.page .header {
    background-image: url('/{{ common_prefix.joinpath(banner) }}');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: {{ banner_background_color or '#111' }};
    height: 25vw;
    padding: 2rem 5vw;
}

.page .header a {
    font-size: 300%;
    color: {{ banner_foreground_color or 'rgba(255, 255, 255, 0.8)' }};
    text-shadow: 0px 3px 3px {{ banner_background_color or '#111' }};
    text-decoration: none;
    padding: 0;
    line-height: 1.0;
    justify-content: flex-start;
}

.page .menubar {
    padding: 0rem 5vw;
    background-color: {{ menubar_background_color or '#111' }};
    color: {{ menubar_foreground_color or 'white' }};
    border-top: solid 1px {{ foreground_color or '#444' }};
}

.page .menubar a {
  float: left;
  display: block;
  padding: 1rem;
  color: {{ menubar_foreground_color or 'white' }};
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.page .menubar a:hover {
    background-color: {{ menubar_background_color_hover or '#444' }};
    color: {{ menubar_foreground_color_hover or 'white' }};
}

.page .content {
    padding: 0 5vw;
    flex: 1;
}

.page .textcolumn {
    max-width: 35rem;
}

.page .body {
    flex: 2;
}

.page .body img {
  max-width: 100%;
}

.page .sidebar {
    padding: 0 0 0 2rem;
    flex: 1;
}

.page .footer {
    padding: 1rem 5vw;
    background-color: {{ menubar_background_color or '#111' }};
    color: {{ menubar_foreground_color or 'white' }};
}

.page .footer * {
    margin: 0;
}

.scroll-x {
  overflow-x: auto;
  margin: -1.3rem 0;
}

.shadow {
  box-shadow: 0rem 0rem 0.25rem {{ foreground_color or '#444' }};
  border-radius: 0.25rem;
}

.small {
    font-size: 75%;
}

.nowrap {
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .page .header a {
      font-size: 400%;
  }

  .page .header {
      padding: 2rem 5vw;
  }
}


@media print {
    .page .header,
    .page .menubar,
    .page .footer,
    .page .sidebar {
        display: none;
        background: none;
    }

    div.no-break-section, p, ul, ol, table {
        page-break-inside: avoid;
    }
}
