@import url("https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC");
@import url("https://fonts.googleapis.com/css?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700");

body {
  color: #444;
  background-color: #fdfaf1;
  font-family: 'Merriweather', Georgia, serif;
  margin: 0;
  max-width: 100%;
  font-size: 1rem;
  line-height: 1.5;
}

p {
  margin: 1.3rem 0;
  text-align: justify;
}

blockquote {
    font-style: italic;
    padding: 0.5rem;
    border-left: solid 2px #444;
    margin: -0.5rem 0 -0.5rem 1.8rem;
    background-color: #edeae1;
    border-radius: 0.25rem;
}

p > ul,
p > ol,
div > ul,
div > ol {
  margin: 1.3rem 0;
}

li > p, blockquote > p {
    margin: 0;
    padding: 0;
}

ul, ol {
  padding-left: 2.5rem;
  position: relative;
}

.page .body ul {
  list-style: none;
}

.page .body li {
  margin: 0.5rem 0;
}

.page .body ul li:before
{
    content: '\2756';
    position: absolute;
    padding-left: 1.1rem;
    left: 0;
}

.page .body ul li ul li:before
{
    content: '\27a2';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'IM Fell Great Primer SC', serif;
  font-weight: inherit;
}

.page .header a {
    font-family: 'IM Fell Great Primer SC', serif;
    color: rgba(235, 220, 200, 0.9) !important;
}

h1 {
  margin: 2rem 0 1.3rem 0;
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin: 2rem 0 1.3rem 0;
  font-size: 2.5rem;
  border-bottom: solid 2px #444;
}

h3 {
  margin: 2rem 0 1rem 0;
  font-size: 2.25rem;
}

h4 {
  margin: 1.3rem 0 1rem 0;
  font-size: 1.75rem;
}

h5, h6 {
  margin: 1.3rem 0 1rem 0;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.8);
}

small {
  font-size: .75em;
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  background-color: #f1f1f1;
  font-size: .8rem;
  overflow-x: scroll;
  padding: 1rem;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}

a.reference,
a.reference:visited {
  color: #444;
  text-decoration: underline;
  text-decoration-color: #dddad1;
  text-decoration-style: solid;
}

a.reference:hover,
a.reference:focus,
a.reference:active {
  text-decoration-color: #666;
}

table {
    margin: 1.3rem 0 1.3rem 2.0rem;
    padding: 0;
    border-spacing: 0;
    min-width: 50%;
}

table td, table th {
    padding: 0.1rem 0.5rem;
}

table thead tr {
    border: none;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: #edeae1;
}
