{% extends '_default.html' %}
{% block style %}
{% if style != '_default.css' %}
{% include style %}
{% endif %}
{% include '_minisite.css' with context %}
{% endblock %}
{% block page %}
<div class="col page flex">
    <div class="col header">
        <a class="col flex" href="/{{ common_prefix.joinpath('index.html') }}">
            {% block header %}{{ banner_title or site_title or title }}{% endblock %}
        </a>
    </div>
    <div class="row-when-medium menubar">
        {{- menu_links() }}
    </div>
    <div class="col content">
        <div class="textcolumn">
            <h1>{{ title }}</h1>
        </div>
        <div class="col column-reverse row-when-large">
            <div class="body textcolumn">
                {%- block content %}{% include body %}{% endblock %}
            </div>
            {%- if not no_toc %}
            <div class="sidebar">
                {{- toc() }}
            </div>
            {%- endif %}
        </div>
    </div>
    <div class="col footer cross-center">
        {%- block footer %}{{ footer|markdown if footer else '' }}{% endblock %}
    </div>
</div>
{% endblock %}
